<div class="fenetre">
  <div class="popup">
    <h1>Connexion</h1>
    <div>
      <h1>Adresse mail :</h1>
      <input type="email" placeholder="Adresse mail">
    </div>

    <div>
      <h1>Mot de passe :</h1>
      <input type="password" placeholder="Mot de passe">
    </div>

    <div class="choose-gender">
      <h1> Que cherchez vous ?</h1>
      <input type="checkbox" id="male" name="male">
      <h2> Hommes </h2>
      <input type="checkbox" id="female" name="female">
      <h2> Femmes </h2>
    </div>

    <button (click)="goToSwipe()">Connexion</button>
    <img class="iconFermer" src="../../assets/img/fermer-la-croix.png" alt="icon fermer croix" (click)="clicCroix()" >
  </div>
</div>