.page {
    display: flex;
}
.left-section {
    width: 450px;
    height: 100vh;
    background-color: white;
    border-right: 1px solid #dbe2e5;
    .header {
        width: 100%;
        height: 70px;
        background: linear-gradient(90deg, rgba(214,49,118,1) 0%, rgba(224,115,95,1) 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.2rem;
        gap: 2rem;
        color: white;
.profile-my-profile {
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
    width: 40%;
}
        .menu {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 2rem;
            cursor: pointer;
        }
        
        .profile-pic {
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.026), 0px 1px 1px rgba(0, 0, 0, 0.012), 0px 2px 4px rgba(0, 0, 0, 0.11);
            cursor: pointer;
            border-radius: 50%;
            border: 2px solid white;
            width: 50px;
            height: 50px;
            display: flex;
            img {
                width: 60px;
                border-radius: 50%;
            }
        }

    } 
    .sub-header {
        width: 100%;
        height: 120px;
        background-color: #eef4f6;
        border-bottom: 1px solid #dbe2e5;
        display: flex;
        align-items: center;
        box-shadow: inset 0px 5px 4px -3px rgba(0, 0, 0, 0.432);
        .let-swipe {
            display: flex;
            align-items: center;

            .text-container {
               margin-left: 2rem;
               width: 50%;
                h1 {
                    font-size: 1rem;
                }
                p {
                    font-size: 0.8rem;
                }
            } 
            .icon {
                margin-left: 1rem;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: white;
                border: 3px solid #aa366c;
                display: flex;
                img {
                    margin: auto;
                    width: 70px;
                    height: 50px;
                }
            }
        }
    }
    .bottom-container {
        padding: 1rem;
        h1 {
            color: #aa366c;
            font-weight: 700;
        }
        .favourites-list {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 1rem;
            .favourites-card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                img {
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }
    }
}

.right-section {
    width: 145vh;
    height: 100vh;
    background-color: #f4fafc;
    display: flex;
    justify-content: center;
    align-items: center;

    .reload-container {
        margin-left: 1px;
        width: 28px;
        height: 28px;
        position: absolute;
        display: flex;
        justify-content: center;

        top: 1rem;
        left: 480px;

        button {
            background: none !important;
        }
    }

    .card-container {
        margin-left: 1px;
        width: 250px;
        height: 500px;
        position: absolute;
    }
}
